body {
	background-color: hsl(200, 80%, 80%);
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
	filter: brightness(0.9);
}

a:hover {
	filter: brightness(1.2);
}

#main-grid {
  display: grid;
  padding: 0px 5px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.line {
  white-space: nowrap;
}

#lazy-infocard {
  display: flex;
  flex-direction: column;
  gap: 20px,;
  padding: 0px 50px,;
  background-color: hsla(0, 0%, 100%, 90%);
  text-align: center;
  width: 600px;
}

.lazy-list-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 40px;
  line-height: 40px;
}

#birthday-list {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
}

#upcoming-list {
  display: grid;
  margin: 20px;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  font-size: 15px;
}

.character-card {
}

#footer {
  background-color: hsl(230, 60%, 40%);
  height: 60px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  color: hsl(230, 80%, 80%);
  text-align: center;
}

#footer .links {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}


@media (max-width: 1200px) {
  .character-card {
    flex-direction: column;
  }
}

@media (max-width: 865px) {
  #main-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 660px) {
  #lazy-infocard {
    width: 500px;
  }
}

@media (max-width: 570px) {
  #main-grid {
    grid-template-columns: 1fr;
    padding: 0px 10px;
  }

  #lazy-infocard {
    width: 400px;
  }

  #upcoming-list {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #upcoming-list > div {
    width: 210px; 
  }
}

@media (max-width: 550px) {
  #footer {
    flex-direction: column;
  }
}

@media (max-width: 430px) {
  .lazy-list-item__date {
    display: none;
  }

  #lazy-infocard {
    width: 80vw;
  }

  #birthday-list {
    flex-direction: column;
    align-items: center;
  }

  #upcoming-list > div {
    width: auto;
  }
}

@media (max-width: 380px) {
  #title {
    font-size: 38px; 
  }
}

@media (max-width: 270px) {
  #title {
    font-size: 25px;
  }

  .lazy-list-item__name { 
    display: none;
  }

  #birthday-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #upcoming-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
