body {
	background-color: hsl(200, 80%, 80%);
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
	filter: brightness(0.9);
}

a:hover {
	filter: brightness(1.2);
}

#main-grid {
  display: grid;
  padding: 0px 5px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.line {
  white-space: nowrap;
}

.character-card {
}

#footer {
  background-color: hsl(230, 60%, 40%);
  height: 60px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  color: hsl(230, 80%, 80%);
}

#footer .links {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

@media (max-width: 1200px) {
  .character-card {
    flex-direction: column;
  }
}

@media (max-width: 865px) {
  #main-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 570px) {
  #main-grid {
    grid-template-columns: 1fr;
    padding: 0px 10px;
  }
}

@media (max-width: 550px) {
  #footer {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .lazybutton-name {
    display: none;
  }
}

@media (max-width: 380px) {
  #title {
    font-size: 38px; 
  }
}

@media (max-width: 270px) {
  #title {
    font-size: 25px;
  }
}

/*****
 I don't care about smaller screens.
*****/
